/* xxl */
@media(max-width:100%) {
    .container {
        max-width: 100%;
    }

}

/* xxl */
/* xl */
@media(max-width:1399px) {
    .container {
        max-width: 1320px;
    }

    .w-100 {
        width: 100%;
    }

}

/* xl */

/* lg */
@media(max-width:1199px) {
    .container {
        max-width: 960px;
    }
}

/* lg */

/* md */
@media(max-width:991px) {
    .container {
        max-width: 720px;
    }

    .col-lg-12 {
        width: 100%;
    }

    .section-menu .section-menu-content .f-family {
        font-size: 2rem;
    }

    .section-menu .section-menu-content strong {
        font-size: 16px;
    }

    .d-md-flex {
        display: flex;
    }
    .menu{
        order: 2;
    }
    header .topbar .logo {
        order: 1;
    }
    .d-md-none{
        display: none;
    }
    .hero .hero-content .image{
        width: 100%;
    }

}

/* md */

/* sm */
@media(max-width:767px) {
    .container {
        max-width: 540px;
    }
}

/* sm */